# Path to workspace
export WORKSPACE=%WORKSPACE_PATH%
export WS=$WORKSPACE

# Path to dotfiles installation
export DOTFILES=$WORKSPACE/dotfiles

# Path to oh-my-zsh installation
export ZSH=$DOTFILES/oh-my-zsh

# Update the PATH variable
export PATH=$PATH:$DOTFILES/bin

# Update default editor
export EDITOR="vim"

# Set name of the theme to load. Optionally, if you set this to "random"
# it'll load a random theme each time that oh-my-zsh is loaded.
# See https://github.com/robbyrussell/oh-my-zsh/wiki/Themes
ZSH_THEME="simple"

# Which plugins would you like to load? (plugins can be found in ~/.oh-my-zsh/plugins/*)
# Custom plugins may be added to ~/.oh-my-zsh/custom/plugins/
# Example format: plugins=(rails git textmate ruby lighthouse)
# Add wisely, as too many plugins slow down shell startup.
plugins=(archlinux docker emoji git)

# Enable oh my zsh
source $ZSH/oh-my-zsh.sh

# Source zsh files
source $DOTFILES/clang/clang.zsh
source $DOTFILES/golang/golang.zsh
source $DOTFILES/ruby/ruby.zsh
source $DOTFILES/wine/wine.zsh
source $DOTFILES/zsh/insert-sudo.zsh
source $DOTFILES/zsh/dtags.zsh
